extends layout

block layout-content
    div.View.WelcomeView
        h1.Banner Teach & Earn
        div.Message
            div.Title
                h3 Submit a tutorial
                h1 Cash in your commission
            span.Details Students need your help!
        div.NavButtons
            if isAuthenticated
                a(href="/user")
                    div.NavButton Let's Earn!
            else
                a(href="/login")
                    div.NavButton Log in
